<div class="bubbleSort">
  <div>
    <span class="heading">Bubble Sort</span>
    <button (click)="downloadData()" class="button right bg-gradient1">Download Data</button>
    <!--<button [className]="!showTable? 'disabled':'enable'" class="button right" [disabled]="!showTable">
      Sort Data
    </button>-->
  </div>
  <!--<div>{{countriesData | json}}</div>-->
  <div>
    <table *ngIf="showTable">
      <table class="table header">
        <thead>
        <tr>
          <th class="th th-country">Country</th>
          <th class="th th-temperature" (click)="bubbleSortData()">Avg Temperature {{sortingDiection}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let country of countriesData; let even = even; let odd = odd" [ngClass]="{ odd: odd, even: even }">
          <td class="td th-country">{{country.country}}</td>
          <td class="td th-temperature" >{{country.temperature}}</td>
        </tr>
        </tbody>
      </table>
    </table>
  </div>

</div>
